html {
	/* pour le footer */
    position: relative;
    min-height: 100%;
}

body {
	background-color: #222222;
	color: #eeeeee;
	overflow-y:auto !important;
}
 
	@media (min-width: 480px){
		body { /* image de fond non répétée et centrée */
			background-image: url('images/fond.png') !important;
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover; 
			background-position: center center;
		}
	}

	#background_opacity {
		position: fixed;
		top: 0; left: 0; right: 0; bottom: 0;
		background-color: rgba(255, 255, 255, 0.2); /* L'opacite se regle ici */
	}

article {
	padding:1% 2%;
	background-color: #2d2c2c;
	color: #FDF5E6;
}


footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.page{
	margin-top: 15%;
	/* pour le footer */
	padding-bottom: 15px;
}

	@media (min-width: 992px){
		.page {
			/*margin-top: 80px;*/
			margin-top: 8%;
		}
	}

.form-inline input{
	display: inline-block;
	max-width: 60%;
}

.navbar {
	background-color: #104080;
	color: #babafa;
}

	.navbar-inverse .navbar-brand{
		color: #8acafa;
	}
		
	.navbar-inverse .navbar-nav > li > a{
		color: #6aaaea;
	}
	.navbar-inverse .navbar-nav > li > a:hover{
		background-color: #002060;
	}
	
	.navbar-inverse .navbar-nav > .active > a {
		background-color: #002060;
	}	
	.navbar-inverse .navbar-nav > .active > a:hover {
		background-color: #001050;
	}

.btn-blue{
	background-color: #0468af;
	color: white;
	font-weight: bold;
	min-width: 200px;
}
	a.btn-blue:hover {
	background-color: #034a7d ;
	color: white;
} 

	@media (min-width: 992px){
		.btn-blue {
			min-with: 80px;
		}
	}

.imageRonde {
	padding:0px;
	border-radius: 4px;
	box-shadow: 10px -15px 10px rgba(48, 48, 48);
}

.conteneur {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap; 
}
